@using ArtifactAdmin.Web.App_Start
@model IEnumerable<ArtifactAdmin.BL.ModelsDTO.StepObjectDto>

@{
    ViewBag.Title = "Index";
}

<h2>Об'єкти кроків</h2>

<p>
    @Html.ActionLink("Новий запис", "Create")
</p>
<table id="StepObject" class="tablesorter">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Icon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.StepObjectType1.Name)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <img src="@(ImagePath.ImPath+"StepObjects/"+@item.Icon)" id="icon" width=" 160 " height=" 120">
                </td>
                <td>
                    @Html.TextAreaFor(modelItem => item.Description, new { @readonly = true, width = "255px", height = "118px" })
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.StepObjectType1.Name)
                </td>
                <td>
                    @Html.ActionLink("Змінити", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Детально", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Видалити", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="pager" style="position: none;">
    <form>
        <img src="@Url.Content("~/Content/images/first.png")" class="first" />
        <img src="@Url.Content("~/Content/images/prev.png")" class="prev" />
        <input type="text" class="pagedisplay" />
        <img src="@Url.Content("~/Content/images/next.png")" class="next" />
        <img src="@Url.Content("~/Content/images/last.png")" class="last" />
        <select class="pagesize">
            <option selected="selected" value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
        </select>
    </form>
</div>
@section ScriptsSortStepObject{
    <script type="text/javascript">
    $(document).ready(function () {
        $("#StepObject").tablesorter({ headers: { 1: { sorter: false }, 3: { sorter: false }, 4: { sorter: false } }, widthFixed: true, sortList: [[0, 0]] })
        .tablesorterPager({ container: $("#pager"), size: $(".pagesize option:selected").val() });
    });
    </script>
}