@model ArtifactAdmin.BL.ModelsDTO.RaceDto

@{
    ViewBag.Title = "Details";
}

<h2>Детально</h2>

<div>
    <h4>Раси</h4>
    <hr/>
     <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.Description, new { rows = "5", cols = "100", @readonly = true })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Characreristics)
        </dt>

        <dd>
            @Html.ListBoxFor(model => model.SelectedCharacteristics, new SelectList(Model.SelectedCharacteristics, "PositionLength", "Name"),
                new{size=6,style="width:280px"})
            @Html.ListBoxFor(model => model.SelectedCharacteristics, new SelectList(Model.SelectedCharacteristics, "PositionLength", "Value"),
                new { size = 6, style = "width:280px" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacteristicsLevelModifier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacteristicsLevelModifier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Predisposition)
        </dt>

        <dd>
            @Html.ListBoxFor(model => model.SelectedPredispositions, new SelectList(Model.SelectedPredispositions, "PositionLength", "Name"),
                new { size = 6, style = "width:280px" })
            @Html.ListBoxFor(model => model.SelectedPredispositions, new SelectList(Model.SelectedPredispositions, "PositionLength", "Value"),
                new { size = 6, style = "width:280px" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Properties)
        </dt>

        <dd>
            @Html.ListBoxFor(model => model.SelectedProperties, new SelectList(Model.SelectedProperties, "PositionLength", "Name"),
                new { size = 6, style = "width:280px" })
            @Html.ListBoxFor(model => model.SelectedProperties, new SelectList(Model.SelectedProperties, "PositionLength", "Value"),
                new { size = 6, style = "width:280px" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Icon)
        </dt>

        <dd>
            <img src="@(@ArtifactAdmin.Web.App_Start.ImagePath.ImPath+"Races/"+@Model.Icon)" id="icon" width=" 160 " height=" 120">
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Змінити", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Повернутись до списку", "Index")
</p>
