@model IEnumerable<ArtifactAdmin.Models.Talent>

@{
    ViewBag.Title = "Index";
}

<h2>Таланти</h2>

<p>
    @Html.ActionLink("Новий запис", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Icon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modifier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaseValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaseModifier)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
         <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Icon)
            <img src="@(@ArtifactAdmin.App_Start.ImagePath.ImPath+"Talents/"+@item.Icon)" id="icon" width=" 160 " height=" 120">
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modifier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaseValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaseModifier)
        </td>
        <td>
            @Html.ActionLink("Змінити", "Edit", new { id = item.id }) |
            @Html.ActionLink("Детально", "Details", new { id = item.id }) |
            @Html.ActionLink("Видалити", "Delete", new { id = item.id })
        </td>
    </tr>
}

</table>
