@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Внесення і перегляд даних</h1>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    @*<div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
    <ul>
        <li>@Html.ActionLink("Constellation", "Index", "Constellations")</li>
        <li>@Html.ActionLink("ArtifactType", "Index", "ArtifactTypes")</li>
        <li>@Html.ActionLink("Bonus", "Index", "Bonus")</li>
        <li>@Html.ActionLink("Talent", "Index", "Talents")</li>
        <li>@Html.ActionLink("Characteristics", "Index", "Characteristics")</li>
        <li>@Html.ActionLink("Predisposition", "Index", "Predispositions")</li>
        <li>@Html.ActionLink("Properties", "Index", "Propertis")</li>
        <li>@Html.ActionLink("Race", "Index", "Races")</li>
        <li>@Html.ActionLink("Class", "Index", "Classes")</li>
        <li>@Html.ActionLink("StepObjectType", "Index", "StepObjectTypes")</li>
        <li>@Html.ActionLink("StepObject", "Index", "StepObjects")</li>
        <li>@Html.ActionLink("Desire", "Index", "Desires")</li>
        <li>@Html.ActionLink("RaceDesire", "Index", "RaceDesires")</li>
        <li>@Html.ActionLink("StepTemplate-StepObjectStepTemplate ", "Index", "StepTemplates")</li>
        <li>@Html.ActionLink("MapInfo", "Index", "MapInfo")</li>
        <li>@Html.ActionLink("MapInfoDimension", "Index", "MapInfoDimension")</li>
        <li>@Html.ActionLink("MapObject", "Index", "MapObjects")</li>
        <li>@Html.ActionLink("MapZone - MapObjectProbability", "Index", "MapZones")</li>
        <li>@Html.ActionLink("ActionTemplateResult", "Index", "ActionTemplateResults")</li>
        <li>@Html.ActionLink("ActionTemplate", "Index", "ActionTemplates")</li>
        <li>@Html.ActionLink("ActionDescription", "Index", "ActionDescriptions")</li>
        <li>@Html.ActionLink("StepTemplateActionTemplate", "Index", "StepActionTemplates")</li>
        <li>@Html.ActionLink("QuestTemplate-QuestTemplateStepTemplate", "Index", "QuestTemplates")</li>
    </ul>
</div>