@model ArtifactAdmin.BL.ModelsDTO.ViewStepTemplateDto

@{
    ViewBag.Title = "Details";
}

<h2>Детально</h2>

<div>
    <h4>Шаблон кроку - об'єкти</h4>
    <hr />
    @{string Obj = "StepObjectDto.Name";}
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StepTemplate.Description)
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.StepTemplate.Description, new { rows = "5", cols = "50", @readonly = true })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StepTemplate.StepText)
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.StepTemplate.StepText, new { rows = "5", cols = "50", @readonly = true })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StepTemplate.Name)
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.StepTemplate.Name, new { rows = "5", cols = "50", @readonly = true })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StepTemplate.Desire1.Name)
        </dt>
        <dd>
            @Html.TextAreaFor(model => model.StepTemplate.Desire1.Name, new { rows = "5", cols = "50", @readonly = true })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StepTemplate.StepObjectStepTemplates)
        </dt>
        <dd>
            @Html.ListBoxFor(model => model.SelectedStepObject, new SelectList(Model.SelectedStepObject, "idObjType", Obj),
new { size = 8, style = "width:280px" })
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Змінити", "Edit", new { id = Model.StepTemplate.id }) |
    @Html.ActionLink("Повернутись до списку", "Index")
</p>
