@model ArtifactAdmin.BL.ModelsDTO.ArtifactTypeDto

@{
    ViewBag.Title = "Delete";
}

<h2>Видалення запису</h2>

<h3>Ви дійсно хочете видалити цей запис?</h3>
<div>
    <h4>Типи артефактів</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Icon)
        </dt>

        <dd>
            <img src="@(@ArtifactAdmin.BL.App_Start.ImagePath.ImPath+"ArtifactTypes/"+@Model.Icon)" id="icon" width=" 160 " height=" 120">
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descrioption)
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.Descrioption, new { rows = "10", cols = "50", @readonly = true })
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Видалити" class="btn btn-default" /> 
            @Html.ActionLink("Повернутись до списку", "Index")
        </div>
    }
</div>
