@model ArtifactAdmin.Models.ArtifactType

@{
    ViewBag.Title = "Create";
}

<h2>Створити новий запис</h2>


@using (Html.BeginForm("Create", "ArtifactTypes", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Типи артефактів</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Icon, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Icon, new
           {
               htmlAttributes = new
               {
                   @class = "file",
                   @type = "file",
                   @name = "file",
                   @accept = "image/*",
                   @onchange = "javascript:ShowIcon(this);"
               }
               
           })
                @if (Model == null)
                {
                    <img src="#" id="icon" width=" 160 " height=" 120" hidden>
                }
                else
                {
                    <img src=@Model.Icon id="icon" width=" 160 " height=" 120">
                }
                 @Html.ValidationMessageFor(model => model.Icon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descrioption, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descrioption, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descrioption, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Записати" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Повернутись до списку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    function ShowIcon(input) {
        document.getElementById("icon").hidden = false;
        //var name = document.getElementById("Icon").value;
        //document.images['icon'].src = name;
        if (input.files && input.files[0])
        {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#icon').attr('src', e.target.result);
                reader.readAsDataUrl(input.files[0]);
            }
        }
    };
</script>
}
