@model ArtifactAdmin.Models.ArtifactType

@{
    ViewBag.Title = "Details";
}

<h2>Детально</h2>

<div>
    <h4>Типи артефактів</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Icon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Icon)
            <img src="/App_Data/Constellations/tv_box2.jpg" id="icon" width=" 160 " height=" 120">
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descrioption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descrioption)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Змінити", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Повернутись до списку", "Index")
</p>
