@model ArtifactAdmin.BL.ModelsDTO.ActionDescriptionDto

@{
    ViewBag.Title = "Delete";
}

<h2>Видалення запису</h2>

<h3>Ви дійсно хочете видалити цей запис?</h3>
<div>
    <h4>Опис дій</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActionTemplate1)
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.ActionTemplate1.Name, new { rows = "5", cols = "50", @readonly = true })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MapZone1)
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.MapZone1.ZoneName, new {rows = "2", cols = "50", @readonly = true})
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Race1)
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.Race1.Description, new { rows = "5", cols = "50", @readonly = true })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Class1)
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.Class1.Description, new { rows = "5", cols = "50", @readonly = true })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActionText)
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.ActionText, new { rows = "5", cols = "100", @readonly = true })
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Видалити" class="btn btn-default" /> |
            @Html.ActionLink("Повернутись до списку", "Index")
        </div>
    }
</div>
