@model ArtifactAdmin.BL.ModelsDTO.ViewActionDescriptionDto

@{
    ViewBag.Title = "Details";
}

<h2>Детально</h2>

<div>
    <h4>Опис дій</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActionDescriptionDto.ActionTemplate1)
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.ActionDescriptionDto.ActionTemplate1.Name, new { rows = "5", cols = "50", @readonly = true })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActionDescriptionDto.MapZone1)
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.ActionDescriptionDto.MapZone1.ZoneName, new { rows = "2", cols = "50", @readonly = true })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActionDescriptionDto.Race1)
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.ActionDescriptionDto.Race1.Description, new {rows = "5", cols = "50", @readonly = true})
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActionDescriptionDto.Class1)
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.ActionDescriptionDto.Class1.Description, new {rows = "5", cols = "50", @readonly = true})
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActionDescriptionDto.ActionText)
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.ActionDescriptionDto.ActionText, new { rows = "5", cols = "100", @readonly = true })
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Змінити", "Edit", new { id = Model.ActionDescriptionDto.Id }) |
    @Html.ActionLink("Повернутись до списку", "Index")
</p>
