@using ArtifactAdmin.Web.App_Start
@model ArtifactAdmin.BL.ModelsDTO.DesireDto

@{
    ViewBag.Title = "Delete";
}

<h2>Видалення запису</h2>

<h3>Ви дійсно хочете видалити цей запис?</h3>
<div>
    <h4>Бажання</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.Name, new { rows = "5", cols = "50", @readonly = true })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.Description, new { rows = "10", cols = "50", @readonly = true })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Icon)
        </dt>

        <dd>
            <img src="@(ImagePath.ImPath+"Desires/"+@Model.Icon)" id="icon" width=" 160 " height=" 120">
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Видалити"  class=" btn btn-default" /> |
            @Html.ActionLink("Повернутись до списку", "Index")
        </div>
    }
</div>
