<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("ArtifactAdmin", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Внесення даних", "Index", "Home")</li>
                    <li>@*@Html.ActionLink("Сузір'я", "Index", "Constellations")*@</li>
                    <li>@*@Html.ActionLink("Типи артефактів", "About", "Home")*@</li>
                    <li>@*@Html.ActionLink("Contact", "Contact", "Home")*@</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <div id="accordion" >
            <h4>@ViewBag.Error</h4>
            <div>
            <p>@ViewBag.ErrMes</p>
            </div>
        </div>
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/tablesorter")
    @RenderSection("scripts", required: false)
    @RenderSection("ScriptsSortConstellation", required: false)
    @RenderSection("ScriptsSortBonus", required: false)
    @RenderSection("ScriptsSortArtifactType", required: false)
    @RenderSection("ScriptsSortStepObject", required: false)
    @RenderSection("ScriptsSortStepObjectType", required: false)
    @RenderSection("ScriptsSortStepTemplate", required: false)
    @RenderSection("ScriptsSortTalent", required: false)
    @RenderSection("ScriptsSortMapObject", required: false)
    @RenderSection("ScriptsSortActionTemplate", required: false)
    @RenderSection("ScriptsSortActionDescription", required: false)
    @RenderSection("ScriptsSortStepActionTemplate", required: false)
    @RenderSection("ScriptsSortActionTemplateResult", required: false)
    @RenderSection("ScriptsSortDesire", required: false)
    @RenderSection("ScriptsSortRace", required: false)
    @RenderSection("ScriptsSortMapZone", required: false)
    @RenderSection("ScriptsSortClass", required: false)
    @RenderSection("ScriptsSortCharacteristic", required: false)
    @RenderSection("ScriptsSortPredisposition", required: false)
    @RenderSection("ScriptsSortProperty", required: false)
    @RenderSection("ScriptsSortRaceDesire", required: false)
    @RenderSection("ScriptsSortQuestTemplate", required: false)
   <script>
    $(function () {
        $("#accordion").accordion({
            collapsible: true,active:false
        });
    });
    </script>
</body>
</html>
