@model ArtifactAdmin.BL.ModelsDTO.ViewActionTemplateDto

@{
    ViewBag.Title = "Create";
}

<h2>Створити новий запис</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Шаблон дії</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ActionTemplateDto.ActionTemplateResult)
        @Html.HiddenFor(model => model.ActionTemplateDto.BlockProbability)
        <div class="form-group">
            @Html.LabelFor(model => model.ActionTemplateDto.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ActionTemplateDto.Name, new { htmlAttributes = new { @class = "form-control", rows = "10", cols = "50" } })
                @Html.ValidationMessageFor(model => model.ActionTemplateDto.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OneProbability, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OneProbability, new { htmlAttributes = new { @class = "form-control", onchange = "ValidateProbability()" } })
                @Html.ValidationMessageFor(model => model.OneProbability, "", new { @class = "text-danger" })
                <input type="text" class="text-danger" id="MessageError" value="" style="width:100%" hidden>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="ActionTemplateDto_ActionTemplateResult1">Виберіть результат дії:</label>
            <div class="col-md-10">
                <table>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ActionTemplateDto.ActionTemplateResult1.PredispositionResultModifier)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.ActionTemplateDto.ActionTemplateResult1.ExperienceModifier)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.ActionTemplateDto.ActionTemplateResult1.ArtifactPosibility)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.ActionTemplateDto.ActionTemplateResult1.GoldModifier)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.ActionTemplateDto.ActionTemplateResult1.QuestTemplate1)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DropDownListFor(m => m.ActionTemplateResults, new SelectList(Model.ActionTemplateResults, "id", "PredispositionResultModifier"), new {@class = "form-control", id="item1",size = 8, onchange = "javascript:SelId(this,document.getElementById('ActionTemplateDto_ActionTemplateResult'));"})
                        </td>
                        <td>
                            @Html.DropDownListFor(m => m.ActionTemplateResults, new SelectList(Model.ActionTemplateResults, "id", "ExperienceModifier"), new { @class = "form-control", size = 8, id = "item2", onchange = "javascript:SelId(this,document.getElementById('ActionTemplateDto_ActionTemplateResult'));" })
                        </td>
                        <td>
                            @Html.DropDownListFor(m => m.ActionTemplateResults, new SelectList(Model.ActionTemplateResults, "id", "ArtifactPosibility"), new { @class = "form-control", size = 8, id = "item3", onchange = "javascript:SelId(this,document.getElementById('ActionTemplateDto_ActionTemplateResult'));" })
                        </td>
                        <td>
                            @Html.DropDownListFor(m => m.ActionTemplateResults, new SelectList(Model.ActionTemplateResults, "id", "GoldModifier"), new { @class = "form-control", size = 8, id = "item4", onchange = "javascript:SelId(this,document.getElementById('ActionTemplateDto_ActionTemplateResult'));" })
                        </td>
                        <td>
                            @Html.DropDownListFor(m => m.ActionTemplateResults, new SelectList(Model.ActionTemplateResults, "id", "QuestTemplate1"), new { @class = "form-control", size = 8, id = "item5", onchange = "javascript:SelId(this,document.getElementById('ActionTemplateDto_ActionTemplateResult'));" })
                        </td>
                    </tr>
                </table>

                @Html.ValidationMessageFor(model => model.ActionTemplateDto.ActionTemplateResult, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Записати" class="btn btn-default" onfocus="javascript: SetProbability()" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Повернутись до списку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        function SelId(Sel, HiddenId){
            var SelId = "";
            var item1 = document.getElementById("item1");
            var item2 = document.getElementById("item2");
            var item3 = document.getElementById("item3");
            var item4 = document.getElementById("item4");
            var item5 = document.getElementById("item5");
            for (i = 0; i < Sel.options.length; i++){
                if (Sel.options[i].selected == true){
                    SelId = Sel.options[i].value;
                    HiddenId.value = Number(SelId);
                    item1.options[i].selected = true;
                    item2.options[i].selected = true;
                    item3.options[i].selected = true;
                    item4.options[i].selected = true;
                    item5.options[i].selected = true;
                    break;
                }
            }
        }

        function ValidateProbability(){
            var Val = document.getElementById("OneProbability").value.toString();
            var ValidateProbability = Number(Val);
            var Message = document.getElementById("MessageError");
            if (Val.substring(0, 3) == "0.0" & Number(Val) == 0){
                Message.value = "Введіть число від 0 до 1 !";
                Message.hidden = false;
            }
            else{
                if (ValidateProbability > 0 & ValidateProbability < 1){
                    document.getElementById("ActionTemplateDto_BlockProbability").value = ValidateProbability;
                    Message.value = "";
                    Message.hidden = true;
                }
            }
        }

        function SetProbability()
        {
            if (document.getElementById("ActionTemplateDto_BlockProbability").value == 0){
                document.getElementById("ActionTemplateDto_BlockProbability").value = 0.25;
            }
        }
    </script>
}

