@model ArtifactAdmin.BL.ModelsDTO.ActionTemplateDto

@{
    ViewBag.Title = "Delete";
}

<h2>Видалення запису</h2>

<h3>Ви дійсно хочете видалити цей запис?</h3>
<div>
    <h4>Шаблон дії</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="width: 200px; text-align: left">
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.Name, new {rows = "10", cols = "50", @readonly = true})
        </dd>

        <dt style="width: 200px; text-align: left">
            @Html.DisplayNameFor(model => model.BlockProbability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlockProbability)
        </dd>

        <dt style="width: 200px; text-align: left">
            @Html.DisplayNameFor(model => model.ActionTemplateResult1.PredispositionResultModifier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActionTemplateResult1.PredispositionResultModifier)
        </dd>
        <dt style="width: 200px; text-align: left">
            @Html.DisplayNameFor(model => model.ActionTemplateResult1.ExperienceModifier)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActionTemplateResult1.ExperienceModifier)
        </dd>
        <dt style="width: 200px; text-align: left">
            @Html.DisplayNameFor(model => model.ActionTemplateResult1.ArtifactPosibility)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActionTemplateResult1.ArtifactPosibility)
        </dd>
        <dt style="width: 200px; text-align: left">
            @Html.DisplayNameFor(model => model.ActionTemplateResult1.GoldModifier)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActionTemplateResult1.GoldModifier)
        </dd>
        <dt style="width: 200px; text-align: left">
            @Html.DisplayNameFor(model => model.ActionTemplateResult1.QuestTemplate1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActionTemplateResult1.QuestTemplate1.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Видалити" class="btn btn-default" /> |
            @Html.ActionLink("Повернутись до списку", "Index")
        </div>
    }
</div>
