@model ArtifactAdmin.BL.ModelsDTO.ActionTemplateDto

@{
    ViewBag.Title = "Details";
}

<h2>Детально</h2>

<div>
    <h4>Шаблон дії</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.Name, new { rows = "10", cols = "50", @readonly = true })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BlockProbability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlockProbability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActionTemplateResult1.ArtifactPosibility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActionTemplateResult1.ArtifactPosibility)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Змінити", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Повернутись до списку", "Index")
</p>
