@model ArtifactAdmin.BL.ModelsDTO.ActionTemplateResultDto

@{
    ViewBag.Title = "Details";
}

<h2>Детально</h2>

<div>
    <h4>Шаблон дії.Результат</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PredispositionResultModifier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PredispositionResultModifier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExperienceModifier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExperienceModifier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArtifactPosibility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArtifactPosibility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoldModifier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoldModifier)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuestTemplate1)
        </dt>
        <dd>
            @Html.TextAreaFor(model => model.QuestTemplate1.Name, new { @readonly = true, rows = "5", cols = "40" })
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Змінити", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Повернутись до списку", "Index")
</p>
